@page "/Home"
@inject AppData appdata
@inject HttpClient client


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-0 main-card p-1">
                <div class="card-header bg-white p-1 border-0 text-center">
                    آخر مراجعة
                </div>
                <div class="card-body border-0 text-center pt-2 p-1 ">
                    <strong>
                       @(Data.Reviews?.OrderBy(x=>x.Date).FirstOrDefault()?.Date.ToLongDateString()??"---:---:---")
                    </strong>
                    <h6 class="text-center pt-1">@(Data.Reviews?.OrderBy(x => x.Date).FirstOrDefault()?.HealthCenter.Name??"---") - مستقر</h6>
                </div>
            </div>
        </div>
        <div class="col-12 py-3">
            <div class="avatar app-shadow rounded-circle overflow-hidden mx-auto d-flex align-items-center justify-content-center text-white" style="width: 140px; height: 140px; background: #34BFA3; border: solid 4px #fff;">
                استكشاف
            </div>
        </div>
        <div class="col-12 py-3">
            @if (Data.Reviews != null)
            {

                @foreach (var review in Data.Reviews)
                {
                    <div class="card border-0 mb-3 media-card app-white">
                        <div class="card-body border-0 p-0">
                            <div class="d-flex">
                                <div>
                                    <img src="./assets/img/avatar.jpg" width="100" style="height: 100%; object-fit: cover">
                                </div>
                                <div class="media-body px-2 py-2">
                                    <h6 class="mt-0 media-head">@review.HealthCenter.Name</h6>
                                    <p class="m-0">النوع : @review.Doctor.Career</p>
                                    <p class="m-0">الوصف : @review.Description</p>
                                    <p class="m-0">الاستطبابات : @review.Recipe</p>
                                    <p class="text-left m-0">
                                        <small>@review.Date</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>



@code {

    public HomeDto Data { get; set; } = new HomeDto() { Reviews = new List<ReviewDto>() };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var res = await client.GetAsync($@"{AppData.BaseUrl}home/{appdata.UserId}");

        if(res.IsSuccessStatusCode)
        {
            Data = System.Text.Json.JsonSerializer.Deserialize<HomeDto>(await res.Content.ReadAsStringAsync());

            appdata.FullName = Data.FullName;
            appdata.Area = Data.Area;
            appdata.Career = Data.Career;

            Bus.AppDataChanged.Invoke();
        }
    }
}
